* {
  font-size: 20px;
}
body {
  font: 20px/1.5 Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
header {
  min-height: 20px;
  border-bottom: black 3px solid;
}
header h1 {
  text-align: center;
  font-size: 40px;
}
ul {
  margin: 0;
  padding: 0;
}
article#main-col {
  float: left;
  width: 65%;
  margin: 15px;
}
ul#todos li {
  list-style: none;
  padding: 10px;
  border: #cccccc solid 1px;
  border-radius: 15px;
  margin-bottom: 10px;
  background: #e6e6e6;
}
input {
  width: 85%;
  height: 30px;
  margin: 15px 0;
  border: #cccccc solid 1px;
  border-radius: 10px;
}

button {
  height: 40px;
  width: auto;
  border: #cccccc solid 1px;
  border-radius: 10px;
}

button#clear-all {
  text-align: center;
  justify-items: center;
  margin-left: 40%;
}

li {
  display: block;
  min-height: 25px;
}
li span {
  display: inline;
}
i {
  display: inline;
  float: right;
  margin: 0 5px;
}
#todo-done {
  color: lightgreen;
}

#edit {
  color: lightblue;
}
#delete {
  color: red;
}

@media (max-width: 880px) {
  button {
    margin-bottom: 10px;
    margin-left: 35%;
  }
  input {
    margin: 10px 20px;
  }
}
